<launch>
    <var name="u2d2_connected" default="true"/>
    <var name="u2d2_port" default="/dev/ttyU2D2"/>
    <var name="robot_name" default="aurea"/>
    <var name="page_creation" default="false"/>
    <var name="queue_time" default="0.05"/>
    <var name="visualization" default="false"/>
    <var name="head_plugged" default="true"/>
    <var name="behaviour" default="true"/>

    <!-- Inicialização do movimento de caminhada e pages-->
    <node name="movement_core" pkg="movement_core" exec="core.py" output="screen">
        <param name="name" value="$(eval 'robot_name')" />
        <param name="queue_time" value="$(eval 'queue_time')" />
        <param name="pub2vis" value="$(eval 'visualization')" />
    </node>

    <!-- Comunicação dos motores com U2D2 -->
    <node name="u2d2" pkg="u2d2_comm" exec="dynamixel_sdk_comm.py" output="screen" if="$(eval 'u2d2_connected')">
        <param name="port" value="$(eval 'u2d2_port')" />
        <param name="robot_name" value="$(eval 'robot_name')" />
    </node>

    <!-- Comunicação falsa dos motores para teste -->
    <node name="u2d2_false" pkg="u2d2_comm" exec="dynamixel_sdk_test.py" output="screen" unless="$(eval 'u2d2_connected')">
        <param name="robot_name" value="$(eval 'robot_name')" />
    </node>
    
    <!-- Inicialização do movimento da cabeça-->
    <node name="head_core" pkg="movement_core" exec="core_head.py" output="screen"  if="$(eval 'head_plugged')">
    </node>

    <!-- Inicialização da visão-->
    <include file="$(find-pkg-share object_finder)/launch/vision.launch" if="$(eval 'head_plugged')">
        <var name="img_output" value="false"/>
        <var name="ajuste" value="false"/>
        <var name="brilho" value="4"/>
        <var name="camera" value="0"/>
    </include>

    <!-- Inicialização da interface de captura de page -->
    <node name="page_creator" pkg="movement_pages" exec="page_interface.py" output="screen" if="$(eval 'page_creation')">
    </node>

    <!-- Inicialização da visualização da robô -->
    <include file="$(find-pkg-share humanoid_visualization)/launch/display.launch" if="$(eval 'visualization')">
        <var name="model" value="$(find-pkg-share humanoid_visualization)/urdf/$(var robot_name).urdf" />
        <var name="rvizconfig" value="$(find-pkg-share humanoid_visualization)/urdf/movement.rviz" />
    </include>

    <!-- Inicialização do Behaviour -->

    <include file="$(find-pkg-share transitions_and_states)/launch/behaviour.launch" if="$(eval 'behaviour')"/>
   

</launch>
