#Libs
*.o
*.a
*.so

#Catkin
.catkin_workspace
*.workspace

#Vscode
.vscode
.idea
.clang-format

#Documentation
docs/html
docs/latex

#Qt Creator
*.pro
*.user
*.autosave
*.config
*.creator
*.creator.user
*.files
*.includes

#Makefiles
CMakeCache.txt
Makefile
CMakeFiles
cmake_install.cmake
cmake-build-debug
src/tools/gui_program/CMakeFiles
src/vision/object_finder/EDROM_Vision.egg-info
src/vision/object_finder/dist
src/tools/gui_program/moc_opencvworker.cpp
src/tools/gui_program/moc_parameters.cpp
build/
devel/
src/src/

#Imagens
training_images/

#Pages
porao.page
pose.page

#Treinamento
*.pyc
*.record
src/vision/object_finder/images
src/vision/object_finder/models
src/vision/object_finder/annotations
src/vision/object_finder/data/*
src/vision/object_finder/pre_trained_models/*
!src/vision/object_finder/pre_trained_models/ssd_edrom
!src/vision/object_finder/data/label_map.pbtxt
!src/vision/object_finder/data/ssd_v1_edrom.config
!src/vision/object_finder/pre_trained_models/ssd_edrom_v1

#Utilidades
src/tools/gui_program/Videos
src/tools/gui_program/Objects
src/tools/gui_program/EDROM_CV
src/tools/GameController
src/tools/labelImg
util/dependencies/eigen-eigen-07105f7124f9/
util/dependencies/rbdl-rbdl-849d2aee8f4c/

#Videos
videos/

#Tarfiles
*.tar.gz

#Arduino
src/tools/rosserial/


