<launch>
    <arg name="camera" default="0"/>
    <arg name="img_output" default="false"/>

    <!-- Visão -->
    <node name="vision" pkg="object_finder" type="connecting_and_showing_current_frame_robocup.py" output="log" > 
        <param name="camera" value="$(eval arg('camera'))" />
        <param name="img_output" value="$(eval arg('img_output'))" />
    </node>

</launch>