<launch>
    <arg name="camera" default="0"/>
    <arg name="img_output" default="false"/>
    <arg name="ajuste" default="false"/>
    <arg name="brilho" default="4"/>
    
    <!-- Visão -->
    <node name="vision" pkg="object_finder" type="connecting_and_showing.py" output="log" > 
        <param name="camera" value="$(eval arg('camera'))" />
        <param name="img_output" value="$(eval arg('img_output'))" />
        <param name="ajuste" value="$(eval arg('ajuste'))" />
        <param name="brilho" value="$(eval arg('brilho'))" />
    </node>

</launch>
