<!-- Códigos de comunicação de fora do movimento e geração de tipos de movimento 
<node name="mov_bridge" pkg="mov_bridge" type="mov_bridge.py" output="screen" >
    <param name="simulation" value="$(eval arg('simulation'))" />
</node>-->

<launch>
    <arg name="simulation" default="false"/>
    <arg name="walk_test" default="false"/>
    <arg name="page_creation" default="false"/>
    <arg name="robot_name"/>
    
    <!-- Código de descrição e recebimento de requisição do movimento -->
    <node name="movement_preparing" pkg="approved_movement_preparing" type="approved_movement_prep.py" output="screen" >    </node>
    

    <!-- Códigos de comunicação com os controladores das robôs físicas
    <group if="$(eval arg('simulation') == false)">
        <node name="movement_final_comm" pkg="movement_endpoint_comm" type="conversions_2_comm_w_opencm_106.py" output="screen" if="$(eval arg('robot_name') == 106)">  </node>
        <node name="movement_final_comm" pkg="movement_endpoint_comm" type="conversions_2_comm_w_opencm_64.py" output="screen" if="$(eval arg('robot_name') == 64)">  </node>
    </group>
    -->

    <!-- Código de comunicação com o controlador da simulação
    <node name="movement_final_comm" pkg="movement_endpoint_comm" type="conversions_2_comm_w_webots.py" output="screen" if="$(eval arg('simulation'))">  </node>
	<include file="$(find movement_simulation)/launch/movement_simulator.launch" if="$(eval arg('simulation'))"> </include>
    -->

    <!-- OpenCM física -->
    <node name="opencm" pkg="rosserial_python" type="serial_node.py" output="screen" if="$(eval arg('simulation') == false)">
        <param name="port" value="/dev/ttyACM0" />
    </node>
    
    <!-- Código de teste de caminhada -->
    <node name="walk_test_interface" pkg="movement_interface" type="walking_interface.py" output="screen" if="$(eval arg('walk_test'))">  </node>

    <!-- Código de criação de page -->
    <node name="page_creator" pkg="movement_page_creator" type="page_capture.py" output="screen" if="$(eval arg('page_creation'))">  </node>

    <!-- Código de criação de caminhada 
    <node name="walk_creator" pkg="walk_creator" type="walk_creator" output="screen" > 
        <param name="interface" value="$(eval arg('walk_test'))" />
    </node>
    -->

    <!-- Código de rodar page -->
    <node name="run_page" pkg="movement_page_creator" type="run_pages.py" output="screen" >
        <param name="current_robot" value="$(eval arg('robot_name'))" />
    </node>
    
</launch>