<launch>

<!-- Inicia o ambiente de simulação do Webots -->
<include file="$(find localization_sim)/launch/start_sim_world.launch"/>

<!-- Inicia o supervisor da robô simulada -->
<include file="$(find localization_sim)/launch/start_sim_supervisor.launch"/>

<!-- Inicia a interpretação simulada da bola por detecção de cores -->
<node name="vision_sim" pkg="localization_sim" type="main.py"/>

</launch>