<launch>
    <!-- Máquina de Estados -->
	<node name="state_machine" pkg="transitions_and_states" type="state_machine_receiver.py" output="screen" >   </node>
	<node name="body_alignment" pkg="states_routine" type="body_alignment_routine.py" output="screen" >    </node>
    <node name="body_search" pkg="states_routine" type="body_search_routine.py" output="screen" >    </node>
    <node name="search_ball" pkg="states_routine" type="search_ball_routine.py" output="screen" >    </node>
    <node name="walking" pkg="states_routine" type="walking_routine.py" output="screen" >    </node>

	<!-- Webots -->
	<include file="$(find bhv_independent_simulator)/launch/behaviour_simulator.launch"></include>

    <!--Interpretação-->
	<node name="ros_packer" pkg="sensor_observer" type="ros_packer.py" output="screen" >    </node>

</launch>
